*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior:smooth;
}

body{
  background-color: #000;
  color: aliceblue;
}

header{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.445);
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  border-bottom: 1px solid seashell;
}

header .brand{
  color:#fff;
  font-size: 32px;
  font-weight: 700px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
}
header .brand .img{
  margin-right: 20px;
}
header .navigation{
  position: relative;
}
header .navigation a{
  color:#fff;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: .5s ease; 
}
header .navigation a:hover{
  color:rgb(0, 255, 251);
}
header .navigation a:active{
  color:rgb(0, 255, 251);
}
section{
  padding: 100px;
}
.title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-title{
  position: relative;
  color: goldenrod;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}
.section-title::before{
  content: '';
  position: absolute;
  top:60px;
  left:50%;
  height: 4px;
  width: 140px;
  background-color: silver;
  transform: translateX(-50%);
}
.section-title::after{
  content: '';
  position: absolute;
  top:56px;
  left:50%;
  height: 15px;
  width: 15px;
  background-color: silver;
  transform: translateX(-50%);
  border-radius: 50%;
}

.contact .content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
}

.contact .content .row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.contact .row .card{
  background-color: #fff;
  width: 200px;
  margin: 20px;
  padding: 25px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 25px rgb(1, 47, 75);
  border-radius: 10px;
}

.contact .card .contact-icon{
  color:goldenrod;
  font-size: 60px;
  text-align: center;
}

.contact .card:hover .contact-icon{
  transform: translateY(-10px);
  transition: 0.5s ease;
}

.contact .card .info h3{
  color: #111;
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
  text-align: center;
}


.contact .card .info span{
  color:#111;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}
@media (max-width:1040px) {
  header{
    padding: 12px 20px;
  }
  header .navigation{
    display: none;
  }

  header .navigation.active{
    z-index: 888;
    position: fixed;
    background-color: #fff;
    top: 0;
    right: 0;
    width: 300px;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.445);
    transition: .3s ease;
  }

  header.sticky{
    background-color: rgba(6, 14, 98, 0.98);
    padding: 10px 40px;
    transition: 0.4 ease;
  }

  header .navigation a{
    color: #010101;
    font-size: 22px;
    margin: 10px;
    padding: 0 20px;
    border-radius: 20px;
  }
  header .navigation a:hover{
    background-color: blueviolet;
  }
  .menu-btn{
    position: absolute;
    background:url(./img/menu.png) no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    right: 0;
    margin: 0 20px;
    cursor: pointer;
    transition: .4s ease;
  }
  .menu-btn.active{
    z-index: 999;
    background: url(./img/close.png) no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.2s ease;
    filter: invert(10);
  }
  section{
    padding: 80px 20px;
    margin-top: 20px;
  }
 
  .section-title{
    font-size: 36px;
  }
  .contact-form{
    padding: 35px 40px;
  }
}